# ==========================================
# 1. DATA GENERATION & INGESTION
# ==========================================
faker==25.2.0
google-cloud-storage==2.16.0

# ==========================================
# 2. DATA PROCESSING (APACHE SPARK)
# ==========================================
pyspark==3.5.0

# ==========================================
# 3. ORCHESTRATION (APACHE AIRFLOW)
# ==========================================
apache-airflow==2.9.0
apache-airflow-providers-google==10.17.0

# ==========================================
# 4. TRANSFORMATION (dbt)
# ==========================================
dbt-bigquery==1.7.2

# ==========================================
# 5. UTILITIES & CONFIGURATION
# ==========================================
python-dotenv==1.0.1
pandas==2.2.0